html,
body{
    height: 100%;
    background-image: url("../images/airbnb_background.jpg");
    background-color: #879ba3;
    background-size: cover;
    user-select: none;

}

.mainMenu{
    display:none;
    margin:30px;
}

#csv_dropzone{
    position:absolute;
    left:25%;
    min-height: 200px;
    min-width: 400px;

    max-height: 500px;
    max-width: 600px;

    padding: 2%;
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    cursor: default;
    /*border: 10px dashed #697e87;*/
    border: 10px dashed #1a1a1a;
    border-radius: 10%;
}

.dropzone:hover{
    opacity: 0.5;
}

.csv_dropzone_visuals{
    /*make it non draggable*/
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.button{
   display: none;
    --color: #fff;
    --background: #2B3044;
    --background-hover: var(--background);
    padding: 8px 28px;
    border-radius: 20px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .02em;
    border: none;
    outline: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: 10px;
}
.button:hover{
    background-color: lightskyblue; /* Green */
    color: white;
}

#data_table_div{
    align-content: center;
    align-self: center;
    position: center;
    max-width: 80%;
    /*height: 500px;*/
    min-height: 100px;
    min-width: 100px;
   /* max-height: 300px;*/
    margin: auto;


}


#map_div {
    height: 600px;
    width: 80%;
    margin:auto;
    margin-block-start: 30px;
    margin-block-end: 30px;
}


#nav_list{
    list-style-type: none;
}

.nav_elem{
    display: inline-block;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
    white-space: normal;
}

.mapboxgl-marker {
    width: 25px;
    height: 25px;
    /*border-radius: 50%;*/

    /*background-color:lightblue;*/
    background-image: url('../images/map_marker_icon.png');
    background-size:100%;

}

.mapboxgl-popup{
    #overflow-y: scroll !important;
    /*transform:none !important;
    /*top: 0%;
    /*left: 0%;*/

}