html,
body{
    height: 100%;
    background-image: url("../images/airbnb-maps.jpg");
    background-color: #879ba3;
    background-size: cover;
    user-select: none;

}

.dropzone_wrapper{
    display: grid;
    place-content: center;
    height: 100vh;
}

.blank{ grid-area: blank }
.upload_btn{ grid-area: upload;}
.download_btn{ grid-area: download;}
.data_table{
    grid-area: data_table_div;
    align-content: center;
    align-self: center;
    position: center;
    width: clamp(500px, 80%, 1000px);
    min-height: 100px;

    margin: auto;
}
.map {
    grid-area: map_div;
    min-height: 600px;
    width: clamp(500px, 50%, 1000px);
    /*margin:auto;*/
    margin-block-start: 30px;
    margin-block-end: 30px;

}
.popup_card{
    grid-area: popup_div;
    font-family: sans-serif;
    font-size: larger;
    text-align: left;
    color: #1a1a1a;
    background-color: #b2534c;
    width: clamp(500px, 50%, 1000px);
}
.footnote{ grid-area: footer }

.table_map_wrapper{
    display: grid;
    grid-template-areas:
    'upload upload download download'
    'data_table_div data_table_div data_table_div data_table_div '
    'map_div map_div popup_div popup_div'
    'footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
}


.dropzone{
    background-image: url("../images/upload.png");
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    background-position-x: center;
    border: 10px dashed #1a1a1a;
    border-radius: 10%;
    /*display: flex;*/
    align-items: center;
    justify-content: center;

    width: clamp(200px, 500px, 1000px);
    height: clamp(200px, 500px, 1000px);
}
.dropzone:hover{
    opacity: 0.5;
}
.csv_dropzone_visuals{
    /*make it non draggable*/
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.button{
    --color: #fff;
    --background: #2B3044;
    --background-hover: var(--background);
    padding: 8px 28px;
    border-radius: 20px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .02em;
    border: none;
    outline: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: 10px;
    left: 25%;
}
.button:hover{
    background-color: crimson; /* Green */
    color: white;
}






.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
    white-space: normal;
}

.mapboxgl-marker {
    width: 25px;
    height: 25px;
    /*border-radius: 50%;*/

    /*background-color:lightblue;*/
    background-image: url('../images/map_marker_icon.png');
    background-size:100%;

}

.mapboxgl-popup{
    #overflow-y: scroll !important;
    /*transform:none !important;
    /*top: 0%;
    /*left: 0%;*/

}











/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    min-height: 100px;
    padding: 15px;
    box-sizing: border-box;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    box-sizing: border-box;
}





#footnote{
    position: relative;
    left: 80%;
    top: 100%;
    font-family: "Brush Script MT", serif;
    color: #000000;
}