html,
body{
    height: 100%;
    background-image: url("../images/background.jpg");
    background-color: #879ba3;
    background-size: cover;
    user-select: none;

}


.dropzone{
    position:absolute;
    left:20%;
    width: 30%;
    height: 40%;
    /*width: 200px
    height: 300px;*/
    min-height: 100px;
    min-width: 100px;

    max-height: 200px;
    max-width: 200px;

    padding: 2%;
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    cursor: pointer;
    border: 10px dashed #697e87;
    border-radius: 10%;
}

.dropzone:hover{
    opacity: 0.5;
}

.csv_dropzone_visuals{
    /*make it non draggable*/
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#goto_upload_view_btn{
   display: none;
    --color: #fff;
    --background: #2B3044;
    --background-hover: var(--background);
    padding: 8px 28px;
    border-radius: 20px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .02em;
    border: none;
    outline: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.4s;
}
#goto_upload_view_btn:hover{
    color: #AAA;
    background-color: lightskyblue; /* Green */
    color: white;
}



